
<router-outlet></router-outlet>


<div class="container-fluid content-laranja" style="width:100%;position:relative;bottom:0;background-color: #FF6B04;height: 7rem;">
  <div class="container footer-content">
    <div class="row text-center" style="margin-top: -3rem;">
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_92e1817640c546cda924506143a8a2c0~mv2.png/v1/fill/w_127,h_49,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_92e1817640c546cda924506143a8a2c0~mv2.webp" alt=""></div>
      <div class="col-md-3">
        <span class="pt-1 color_11" style="font-size:18px;margin-top:-4rem;">Associados da ABF</span>
        <img src="https://static.wixstatic.com/media/ad1c7a_d809e095bdf5483eafdb219a591a9b61~mv2.png/v1/fill/w_140,h_48,al_c,q_85/ad1c7a_d809e095bdf5483eafdb219a591a9b61~mv2.webp" alt=""></div>
      <div class="col-md-2 mr-4"><h4 class="color_11">SP<br></h4><span class="color_11" style="font-size: 18px;">+55 (11) 4003-3668</span></div>
      <div class="col-md-2 mr-4"><h4 class="color_11">RJ<br></h4><span class="color_11" style="font-size: 18px;">+55 (21) 4003-3668</span></div>
      <div class="col-md-2"><h4 class="color_11">NY<br></h4><span class="color_11" style="font-size: 18px;">+1-929-522-8771</span></div>
    </div>
  </div>
</div>
