<div class="container header fixed-top shadow-sm pt-3 pb-3" style="background-color: #fff;">
  <ul class="nav justify-content-center">
    <a routerLink='/' class="navbar-brand pr-4 mr-3">
      <img src="https://static.wixstatic.com/media/ad1c7a_1b1df0217de54e2cae9e08863cfafc74~mv2.png/v1/crop/x_0,y_30,w_842,h_269/fill/w_144,h_46,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_1b1df0217de54e2cae9e08863cfafc74~mv2.webp" alt="">
    </a>
    <li class="nav-item pt-3 pb-2 pr-4">
      <a routerLink='/' target="_self" data-keep-roots="true" data-anchor="dataItem-j8x9wv76" id="comp-j8yv142ylink" class="style-j8yv1431link">
        <span id="comp-j8yv142ylabel" class="style-j8yv1431label">Sobre</span></a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-4">
      <a routerLink='/restaurante' target="_self" id="comp-j8yv1433link" class="style-j8yv1439link">
        <span id="comp-j8yv1433label" class="style-j8yv1439label">Cadastre seu restaurante</span></a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-4">
      <a routerLink='/trabalhe-conosco' target="_self" id="comp-j8yv143elink" class="style-j8yv1439link">
        <span id="comp-j8yv143elabel" class="style-j8yv1439label">Trabalhe conosco</span></a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-4">
      <a routerLink='/blog' target="_self" id="comp-jfcvdk80link" class="style-j8yv1439link">
        <span id="comp-jfcvdk80label" class="style-j8yv1439label">Blog</span></a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-4">
      <a routerLink='/contato' target="_self" id="comp-j8yv143llink" class="style-j8yv1439link">
        <span id="comp-j8yv143llabel" class="style-j8yv1439label">Contato</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span style="color:#FF6B04;">PT</span> | EN</a>
    </li>
  </ul>
</div>
<div class="header-content" style="background-color: #f5f5f5;height:88px;width:100%"></div>

<div class="parallax"></div>

<div class="container transbox">
    <div class="col-md-12 text-center float-center">
      <span style="font-family:'Open Sans', sans-serif;line-height:normal;letter-spacing:.10rem;font-weight:600;word-break:break-word;font-size:41px;">Peça e pegue&nbsp;sua refeição com<br> rapidez e conveniência.</span>
      <br><br><br><span style="font-family:'Open Sans', sans-serif; font-size:38px; letter-spacing:normal;">Pediu, pagou, tá pronto!</span>
      <br><br><a href="https://play.google.com/store/apps/details?id=com.onyo&hl=pt_BR" type="button" class="btn btn-primary pl-4 pr-4" style="padding-top:.9rem;padding-bottom:.7rem;color: #fff!important;font-weight: 600;background-color: #FF6B04;border-color:#FF6B04;border-radius:5rem;letter-spacing:.12rem;word-break:break-word;font-family:'Open Sans', sans-serif; font-size:20px;">Baixe agora!</a>
    </div>
</div>

<div class="container-fluid content-laranja" style="width:100%;position:relative;bottom:0;height:609px;background-color: #FF6B04;">
  <div class="row">
    <div class="col-md-12 text-center color_11">
      <div class="col-md-12">
        <span style="line-height:normal;letter-spacing:normal;font-weight:600;word-break:break-word;font-family:'Open Sans', sans-serif; font-size:34px;">Como funciona</span>
      </div>

    <div class="container">
      <div class="col-md-12">
        <div class="row text-center" style="padding-top:6%;">
          <div class="col-md-3">
            <div class="col-md-10 float-right text-center">
              <img class="pt-2 pb-2" src="https://static.wixstatic.com/media/ad1c7a_d61a6e9f5b904f1ea4dc7a416e708a1a~mv2.png/v1/fill/w_87,h_87,al_c,q_85,usm_0.66_1.00_0.01/hou.webp" alt="">
              <h4 class="pt-3">Fácil de escolher</h4>
              <span class="pt-3 color_11" style="line-height:unset;font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;font-size:20px;">Saiba a cada momento o tempo estimado de preparo dos seus restaurantes preferidos.</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-10 float-right text-center">
              <img class="pb-2" src="https://static.wixstatic.com/media/ad1c7a_779cb2dbf9a84a98be7e50771cdb8fc7~mv2.png/v1/fill/w_111,h_110,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_779cb2dbf9a84a98be7e50771cdb8fc7~mv2.webp" alt="">
              <h4 class="pt-1 pb-4">Fácil de pedir</h4>
              <div class="pt-4" data-packed="false" style="width: 175px; min-height: 57px; pointer-events: none; visibility: inherit;" data-min-height="57" class="txtNew" id="comp-j88wjubz"><h6 class="font_6" style="font-size:18px; text-align:center;"><span style="color:#FFFFFF;"><span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;"><span style="font-size:18px;">Escolha um prato do seu restaurante favorito e peça pelo app. </span></span></span></h6>
              <h6 class="font_6" style="font-size:18px; text-align:center;"><span style="color:#FFFFFF;"><span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;"><span style="font-size:20px;">Pague no cartão ou vale refeição.</span></span></span></h6></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-10 float-right text-center">
              <img class="pb-2" src="https://static.wixstatic.com/media/ad1c7a_9d73d6ff55684af5ba183cd4f96ba4ab~mv2.png/v1/fill/w_111,h_112,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_9d73d6ff55684af5ba183cd4f96ba4ab~mv2.webp" alt="">
              <h4 class="pt-1 pb-4">As melhores promoções</h4>
              <span class="pt-4" style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;font-size:20px;"><span style="letter-spacing:0em;">Sempre oferecemos promoções e ofertas exclusivas! Aproveite!</span></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-10 float-right text-center">
              <img class="pb-2" src="https://static.wixstatic.com/media/ad1c7a_003dce2fdd5e4bebb1236e5628d2351d~mv2.png/v1/fill/w_135,h_125,al_c,q_85,usm_0.66_1.00_0.01/bandeja.webp" alt="">
              <h4 class="pb-3">Busque sua refeição</h4>
              <span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;font-size:20px;"><span style="letter-spacing:0em;">Relaxe, que vamos avisar quando sua comida estará pronta!</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="two-parallax"></div>
<div class="container content-transbox">
  <div class="content-transbox col-md-12 text-left pl-4">
    <div class="col-md-10">

      <div data-packed="false" style="width: 710px; min-height: 160px; pointer-events: none;" data-min-height="130" class="txtNew" id="comp-j88yd878">
        <span class="pr-4 mr-4" style="line-height:normal;letter-spacing:normal;font-weight:600;word-break:break-word;font-family:initial; font-size:45px;">Nossa vocação é dar conveniência<br> de comer fora, todos os dias.</span>
      </div>

      <div data-packed="false" style="width: 510px; min-height: 160px; pointer-events: none;" data-min-height="160" class="txtNew" id="comp-j88yd878">
        <span style="font-family:wfont_ad1c7a_567e239cba024eaa997827c54f46176f,wf_567e239cba024eaa997827c54,orig_quicksandbold;"><span style="font-size:20px;">Acreditamos que o seu tempo é sagrado.</span></span><br><br>
        <p class="font_8" style="font-size:19px;"><span style="color:#FFFFFF;"><span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;"><span style="font-size:19px;">Criamos uma plataforma de pedido e pagamento para facilitar o dia a dia das pessoas na hora de se alimentar.</span></span></span></p>
        <p class="font_8" style="font-size:19px;"><span style="color:#FFFFFF;"><span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;"><span style="font-size:19px;">Nossa ferramenta ajuda você a economizar tempo e dinheiro, trazendo comodidade e facilidade, alem de benefícios e promoções.</span></span></span></p>
        <p class="font_8" style="font-size:19px;"><span style="color:#FFFFFF;"><span style="font-family:wfont_ad1c7a_1c619fe6fbc441728a01bdbc4e8d2bd2,wf_1c619fe6fbc441728a01bdbc4,orig_quicksandregular;"><span style="font-size:19px;">Tudo para tornar a sua vida melhor!</span></span></span></p>
      </div>

    </div>
  </div>
</div>

<div class="thre-parallax"></div>
<div class="container thre-content-transbox">
  <div class="thre-content-transbox col-md-12 text-center">
    <span style="font-family:wfont_ad1c7a_567e239cba024eaa997827c54f46176f,wf_567e239cba024eaa997827c54,orig_quicksandbold;"><span style="font-size:34px;"><span style="letter-spacing:-0.05em;">News</span></span></span>
  </div>
  <div class="thre-content-transbox-logos col-md-12">
    <div class="row text-center">
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_e9203400e4b3405491a4ee5166aae92f~mv2.png/v1/fill/w_192,h_55,al_c,q_85,usm_0.66_1.00_0.01/GoogleForStartups.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_d2f237d95cd34af1ad65122576507062~mv2.png/v1/fill/w_86,h_59,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_d2f237d95cd34af1ad65122576507062~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_f3e538ead06b46819fba8ede23a71d0e~mv2.png/v1/fill/w_158,h_55,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_f3e538ead06b46819fba8ede23a71d0e~mv2.webp" alt=""></div>
      <div class="col-md-3"><img src="https://static.wixstatic.com/media/ad1c7a_bac53e6562904577a3ed876fa5447ef2~mv2.png/v1/fill/w_234,h_55,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_bac53e6562904577a3ed876fa5447ef2~mv2.webp" alt=""></div>
      <div class="col-md-3"><img src="https://static.wixstatic.com/media/ad1c7a_d52bd661c92e451e893c47136225c152~mv2.png/v1/fill/w_220,h_43,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_d52bd661c92e451e893c47136225c152~mv2.webp" alt=""></div>
    </div>

    <div class="row text-center pt-5">
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_da0566c617f24468ac949fca3a58622a~mv2.png/v1/fill/w_210,h_34,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_da0566c617f24468ac949fca3a58622a~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_5b2014d21e18453092013888a71d545c~mv2.png/v1/fill/w_97,h_46,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_5b2014d21e18453092013888a71d545c~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_acd4f6439570465fad1b40608d0791fd~mv2.png/v1/fill/w_144,h_40,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_acd4f6439570465fad1b40608d0791fd~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_926c808c82654d9eb16f91d86bed0e1f~mv2.png/v1/fill/w_158,h_28,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_926c808c82654d9eb16f91d86bed0e1f~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_8c7cbc84b8f74681b09e82b1f160d2af~mv2.png/v1/fill/w_160,h_28,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_8c7cbc84b8f74681b09e82b1f160d2af~mv2.webp" alt=""></div>
      <div class="col-md-2"><img src="https://static.wixstatic.com/media/ad1c7a_f66c7b816e384953995522078c89112b~mv2.png/v1/fill/w_127,h_49,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_f66c7b816e384953995522078c89112b~mv2.webp" alt=""></div>
    </div>
  </div>
</div>


