
<div class="container header fixed-top shadow-sm pt-3 pb-3" style="background-color: #fff;">
  <ul class="nav justify-content-center">
    <a routerLink='/' class="navbar-brand pr-4 mr-3 pr-4">
      <img src="https://static.wixstatic.com/media/ad1c7a_1b1df0217de54e2cae9e08863cfafc74~mv2.png/v1/crop/x_0,y_30,w_842,h_269/fill/w_144,h_46,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_1b1df0217de54e2cae9e08863cfafc74~mv2.webp" alt="">
    </a>
    <li class="nav-item pt-3 pb-2 pr-5 pl-5">
      <a id="comp-j8yv1433link" class="style-j8yv1439link">
        <span id="comp-j8yv1433label" class="style-j8yv1439label">Vantagens</span>
      </a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-5">
      <a target="_self" id="comp-j8yv143elink" class="style-j8yv1439link">
        <span id="comp-j8yv143elabel" class="style-j8yv1439label">Como funciona</span></a>
    </li>
    <li class="nav-item pt-3 pb-2 pr-5">
      <a target="_self" id="comp-jfcvdk80link" class="style-j8yv1439link">
        <span id="comp-jfcvdk80label" class="style-j8yv1439label">Cadastra-se</span></a>
    </li>
  </ul>
</div>

<div class="header-content" style="background-color: #f5f5f5;height:88px;width:100%"></div>

<main class="content-restaurante">
  <div id="vantagens" class="container">
    <div class="col-md-12 pt-5 pb-5 text-center">
      <span style="letter-spacing:.10rem;color:#FF6B04;line-height:normal;font-weight:600;word-break:break-word;font-family:'Open Sans', sans-serif;font-size:40px;">Vantagens para os restaurantes</span>

      <div id="vantagens" class="txtNew text-center">

        <h6 class="color_14 pt-4 pb-3" style="font-size:20px;font-weight: 600; text-align:center;">
          <span style="letter-spacing:.1rem;font-size:22px;font-family:'Open Sans', sans-serif;">Preocupe-se com a cozinha.&nbsp;Fazemos o resto do trabalho.</span>
        </h6>

        <h6 class="font_6 pb-3" style="font-size:19px; text-align:center;">
          <span style="font-family:'Open Sans', sans-serif;">Com Onyo seu restaurante trabalha naquilo&nbsp;que realmente gosta mais<br> de fazer: A comida.</span>
        </h6>

        <h6 class="font_6 pb-3" style="font-size:19px; text-align:center;">
            <span style="font-family:'Open Sans', sans-serif;">Deixe com a gente o trabalho de atender, anotar o pedido, cobrar e<br> chamar o cliente quando estiver pronto.</span>
        </h6>

      </div>

    </div>
  </div>

  <div class="container-fluid m-0 p-0">
    <div class="service-images row col-md-12 m-0 p-0">
      <div class="col-md-3 m-0 p-0">

        <div class="support-service-text col-md-12 m-0 p-0">
          <div class="col-md-12 text-center"  style="padding-top: 9rem;">
            <span class="color_11" style="font-size:17px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Somos seu atendente</span>
          </div>
          <div class="col-md-12 text-center">
            <div class="container col-md-7 pt-4">
              <span class="color_11" style="font-family:'Open Sans', sans-serif;">Atendemos, tiramos os pedidos e cobramos. Quer mais? Sem fila no seu restaurante</span>
            </div>
          </div>
        </div>

        <div class="support-service-img-1"></div>
      </div>

      <div class="col-md-3 m-0 p-0">
        <div class="support-service-text col-md-12 m-0 p-0">
          <div class="col-md-12 text-center"  style="padding-top: 9rem;">
            <span class="color_11" style="font-size:17px;font-family: 'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Estamos do seu lado</span>
          </div>
          <div class="col-md-12 text-center">
            <div class="container col-md-7 pt-4">
              <span class="color_11" style="font-family:'Open Sans', sans-serif;">Estamos focados pensando sempre em trazer soluções para o seu negócio</span>
            </div>
          </div>
        </div>
        <div class="support-service-img-2"></div>
      </div>

      <div class="col-md-3 m-0 p-0">
        <div class="support-service-text col-md-12 m-0 p-0">
          <div class="col-md-12 text-center" style="padding-top: 9rem;">
            <span class="color_11" style="font-size:17px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Pague após vender</span>
          </div>
          <div class="col-md-12 text-center">
            <div class="container col-md-7 pt-4">
              <span class="color_11" style="font-family:'Open Sans', sans-serif;">A nossa taxa é um percentual do valor de cada pedido que levamos até você e se encaixa perfeitamente no seu negócio. Você paga somente quando o pedido for realizado</span>
            </div>
          </div>
        </div>
        <div class="support-service-img-3"></div>
      </div>

      <div class="col-md-3 m-0 p-0">
        <div class="support-service-text col-md-12 m-0 p-0">
          <div class="col-md-12 text-center" style="padding-top: 9rem;">
            <span class="color_11" style="font-size:17px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Controle de promoções</span>
          </div>
          <div class="col-md-12 text-center">
            <div class="container col-md-7 pt-4">
              <span class="color_11" style="font-family:'Open Sans', sans-serif;">Quer oferecer um desconto, mas não sabe quem vai usar? Agora você tem todo o controle nas mãos</span>
            </div>
          </div>
        </div>
        <div class="support-service-img-4"></div>
      </div>

    </div>
  </div>

  <div class="container-fluid" style="width:100%;background-color: #FF6B04;height: 472px;">
    <div class="container text-center" style="padding-top: 4%;">
      <span class="color_11" style="padding-top:4%;line-height:normal;letter-spacing:normal;font-weight:600;word-break:break-word;font-family:'Open Sans', sans-serif; font-size:34px;">Passo a passo para ser um parceiro Onyo</span>

      <div class="row col-md-12 text-center" style="padding-top: 5%;">
        <div class="col-md-3">
          <img src="https://static.wixstatic.com/media/ad1c7a_8540cb75759c4ef4bcebe5ec1972e771~mv2.png/v1/fill/w_111,h_110,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_8540cb75759c4ef4bcebe5ec1972e771~mv2.webp" alt="">
          <div class="col-md-12 pt-2">
            <span class="color_11" style="font-size:19px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Cadastre-se</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="https://static.wixstatic.com/media/ad1c7a_24ad94eb64a44d0fafca9e581f760f71~mv2.png/v1/fill/w_111,h_112,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_24ad94eb64a44d0fafca9e581f760f71~mv2.webp" alt="">
          <div class="col-md-12 pt-2">
            <span class="color_11" style="font-size:19px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Entraremos em contato</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="https://static.wixstatic.com/media/ad1c7a_60ffac3fad28496c86704df31d52777f~mv2.png/v1/fill/w_111,h_100,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_60ffac3fad28496c86704df31d52777f~mv2.webp" alt="">
          <div class="col-md-12 pt-2">
            <span class="color_11" style="font-size:19px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Configuramos o sistema e treinamos</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="https://static.wixstatic.com/media/ad1c7a_83e4c23536b947769aa2b5bf4cc1edb1~mv2.png/v1/fill/w_111,h_100,al_c,q_85,usm_0.66_1.00_0.01/ad1c7a_83e4c23536b947769aa2b5bf4cc1edb1~mv2.webp" alt="">
          <div class="col-md-12 pt-2">
            <span class="color_11" style="font-size:19px;font-family:'Open Sans', sans-serif;letter-spacing: .11rem;font-weight:600;">Pronto!</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid p-0">

    <div class="container-fluid front-text-form pt-5">
      <div class="container formulario text-center">
        <span class="color_11" style="line-height:normal;letter-spacing:normal;font-weight:600;word-break:break-word;font-family:'Open Sans', sans-serif; font-size:34px;">Junte-se a nós!</span>

        <div class="col-md-12">
          <form class="text-left pt-3">
            <div class="form-group">
              <label class="color_10" for="name">Nome *</label>
              <input type="text" class="form-control" name="name" id="name" aria-describedby="name" [(ngModel)]='restaurant.name'>
            </div>
            <div class="form-group">
              <label class="color_10" for="email">E-mail *</label>
              <input type="email" class="form-control" name="email" id="email" [(ngModel)]='restaurant.email'>
            </div>
            <div class="form-group">
              <label class="color_10" for="telefone">Telefone *</label>
              <input type="text" class="form-control" name="telefone" id="telefone" [(ngModel)]='restaurant.phone'>
            </div>
            <div class="form-group">
              <label class="color_10" for="name-restaurant">Nome do Restaurante *</label>
              <input type="text" class="form-control" name="name-restaurant" id="name-restaurant" [(ngModel)]='restaurant.name_restaurant'>
            </div>
            <div class="form-group">
              <label class="color_10" for="address">Endereço do Restaurante *</label>
              <input type="text" class="form-control" name="address" id="address" [(ngModel)]='restaurant.address'>
            </div>
            <div class="form-group">
              <label class="color_10" for="message">Mensagem</label>
              <textarea class="form-control" name="message" id="message" rows="5" [(ngModel)]='restaurant.message'></textarea>
            </div>
            <span style="color: #33FF8A;font-family:'Open Sans', sans-serif;">{{status}}</span>
            <span style="color:#ff3232;font-family:'Open Sans', sans-serif;letter-spacing: 0.16rem;">{{status_error}}</span>
            <button (click)='clickedSaveRestaurant()' type="submit" class="btn btn-primary float-right pr-4 pl-4" style="font-size:21px;background-color: #FF6B04;border-color: #FF6B04;">Enviar</button>
          </form>
        </div>


      </div>
    </div>

    <div class="background-image-form"></div>
  </div>


</main>
